
/** Styles for views/NameInfoView.css */
/** @author: Brendan Dileo, 2025-02-10 **/

.name-info-view {
    max-width: 800px;
    margin: 25px auto;
    padding: 25px;
    background-color: #ffffff; /* White background */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); /* Shadow for Box --> Can be better look at docs */ 
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    align-items: center;
}

.name-info-view h2 {
    font-family: 'Poppins', sans-serif; /* Google Poppins font */
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}


.subheading {
    font-family: 'Poppins', sans-serif; /* Google Poppins font */
    font-size: 1rem;
    color: #161212;
    text-align: center;
    margin: 20px;
}

.name-info-view form {
    font-family: 'Spectral', serif; /* Google font */
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: center;
}

.name-info-view label {
    font-weight: bold;
    color: #555;
    margin-bottom: 8px;
    font-size: 1.1rem; 
}

.name-info-view input {
    width: 80%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px; 
    font-size: 1.1rem;
    color: #333333;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

.name-info-view input:focus {
    border-color: #007bff; /* Change border for focus */
    outline: 2px solid;
}

.name-info-view input::placeholder {
    color: #77b5f8;
}

.name-info-view button {
    padding: 15px 25px; 
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 6px; 
    font-size: 1.2rem; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.name-info-view button:hover {
    background-color: #006bdd; 
}


/* Desktop Responsive Design */
@media (max-width: 1024px) {
    .name-info-view {
        padding: 25px;
        margin: 30px auto;
    }

    .name-info-view h1 {
        font-size: 2rem;
    }

    .name-info-view input, .name-info-view button {
        font-size: 1rem;
        padding: 12px;
    }

    header h1 {
        font-size: 2rem;
    }

    header nav a {
        font-size: 1.125rem;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .name-info-view {
        padding: 20px;
        margin: 20px auto;
    }

    .name-info-view h1 {
        font-size: 1.5rem;
    }

    .name-info-view input, .name-info-view button {
        font-size: 1rem;
        padding: 10px;
    }

    header h1 {
        font-size: 1.75rem;
    }

    header nav a {
        font-size: 1rem;
    }
}

/* Phone */
@media (max-width: 480px) {
    .name-info-view {
        padding: 15px;
        margin: 10px auto;
    }

    .name-info-view h1 {
        font-size: 1.25rem;
    }

    .name-info-view input, .name-info-view button {
        font-size: 0.875rem;
        padding: 8px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    header nav a {
        font-size: 0.875rem;
    }
}
